@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300);

$color-page-background: #f5f5f5;
$color-app-background: #ffffff;
$color-product-background: #6bfec8;
$color-text-off-black: #444444;
$color-text-grey: #8b8b8b;
$color-rating-false: #dddddd;
$color-share-grey: #bbbbbb;
$color-rating-true: #fe6067;
$color-discount-price: #fe6067;

$color-radio-green: #59e8c8;
$color-radio-yellow: #ffee71;
$color-radio-purple: #6654af;
$color-radio-black: #343434;
$color-radio-grey: #dfdfdf;

$icon-star-solid: "\f005";
$icon-share-alt: "\f1e0";
$icon-shopping-cart: "\f07a";

$font-family-text: "Fjalla One";
$font-family-icons: "FontAwesome";

$width-main-screen: 800px;
$width-reponsive-breakpoint: $width-main-screen + 150px;

@mixin section-titles {
    text-transform: uppercase;
    font-size: 13px;
    margin: 0;
}

@mixin icon($icon, $color, $font-size, $pseudo: 'before') {
    &:#{$pseudo} {
        font-family: $font-family-icons;
        content: $icon;
        color: $color;
        font-size: $font-size;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

html,
body {
    margin: 0;
    background-color: $color-page-background;
    font-family: $font-family-text, Arial, sans serif;
    color: $color-text-off-black;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.cpc-viewport {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.cpc-table-cell {
    display: table;
    width: 100%;
    height: 100%;
}
.cpc-table-align {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    @media screen and (max-width: $width-reponsive-breakpoint) {
        padding: 20px;
    }
}
.cpc-main {
    display: table;
    margin: auto;
    overflow: hidden;
    max-width: $width-main-screen;
    background-color: $color-app-background;
    border-radius: 14px;
    -webkit-box-shadow: 14px 14px 60px 4px rgba(217, 217, 217, 1);
    -moz-box-shadow: 14px 14px 60px 4px rgba(217, 217, 217, 1);
    box-shadow: 14px 14px 60px 4px rgba(217, 217, 217, 1);
}
.cpc-product-imgs {
    display: table-cell;
    width: 33%;
    height: 100%;
    font-size: 15px;
    @media screen and (max-width: $width-reponsive-breakpoint) {
        display: block;
        height: 250px;
        width: 100%;
        text-align: center;
    }
}

.cpc-product-shoe-img {
    width: 362px;
    margin-left: -90px;
    margin-top: 31px;
    position: absolute;

    @media screen and (max-width: $width-reponsive-breakpoint) {
        margin-top: 22px;
        width: 265px;
        position: inherit;
        margin-left: -12px;
    }

}

.cpc-circle-container {
    margin-top: 339px;
    text-align: center;

    @media screen and (max-width: $width-reponsive-breakpoint) {
        display: none;
    }
}

.cpc-product-img-circle {
    display: inline-block;
    background-color: #349a97;
    width: 10px;
    height: 10px;
    margin-right: 2px;
    border-radius: 50%;

    &:first-child {
        background-color: white !important;
    }

    &:last-child {
        margin-right: 0px;
    }

}

.cpc-product-green {
    background: rgba(119, 254, 203, 1);
    background: -moz-linear-gradient(-45deg, rgba(119, 254, 203, 1) 0%, rgba(65, 200, 203, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(119, 254, 203, 1)), color-stop(100%, rgba(65, 200, 203, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(119, 254, 203, 1) 0%, rgba(65, 200, 203, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(119, 254, 203, 1) 0%, rgba(65, 200, 203, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(119, 254, 203, 1) 0%, rgba(65, 200, 203, 1) 100%);
    background: linear-gradient(135deg, rgba(119, 254, 203, 1) 0%, rgba(65, 200, 203, 1) 100%);
}

.cpc-product-yellow {
    background: rgba(255,238,113,1);
    background: -moz-linear-gradient(-45deg, rgba(255,238,113,1) 0%, rgba(252,232,82,1) 46%, rgba(209,188,34,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,238,113,1)), color-stop(46%, rgba(252,232,82,1)), color-stop(100%, rgba(209,188,34,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,238,113,1) 0%, rgba(252,232,82,1) 46%, rgba(209,188,34,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,238,113,1) 0%, rgba(252,232,82,1) 46%, rgba(209,188,34,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,238,113,1) 0%, rgba(252,232,82,1) 46%, rgba(209,188,34,1) 100%);
    background: linear-gradient(135deg, rgba(255,238,113,1) 0%, rgba(252,232,82,1) 46%, rgba(209,188,34,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffee71', endColorstr='#d1bc22', GradientType=1 );

    .cpc-product-img-circle {
        background-color:  #9e9234;
    }       
}

.cpc-product-purple {
    background: rgba(102,84,175,1);
    background: -moz-linear-gradient(-45deg, rgba(102,84,175,1) 0%, rgba(92,76,154,1) 46%, rgba(41,33,74,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(102,84,175,1)), color-stop(46%, rgba(92,76,154,1)), color-stop(100%, rgba(41,33,74,1)));
    background: -webkit-linear-gradient(-45deg, rgba(102,84,175,1) 0%, rgba(92,76,154,1) 46%, rgba(41,33,74,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(102,84,175,1) 0%, rgba(92,76,154,1) 46%, rgba(41,33,74,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(102,84,175,1) 0%, rgba(92,76,154,1) 46%, rgba(41,33,74,1) 100%);
    background: linear-gradient(135deg, rgba(102,84,175,1) 0%, rgba(92,76,154,1) 46%, rgba(41,33,74,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6654af', endColorstr='#29214a', GradientType=1 );

    .cpc-product-img-circle {
        background-color:  #28223f;
    }    

}

.cpc-product-black {
    background: rgba(100,100,100,1);
    background: -moz-linear-gradient(-45deg, rgba(100,100,100,1) 0%, rgba(78,77,77,1) 46%, rgba(18,18,18,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(100,100,100,1)), color-stop(46%, rgba(78,77,77,1)), color-stop(100%, rgba(18,18,18,1)));
    background: -webkit-linear-gradient(-45deg, rgba(100,100,100,1) 0%, rgba(78,77,77,1) 46%, rgba(18,18,18,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(100,100,100,1) 0%, rgba(78,77,77,1) 46%, rgba(18,18,18,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(100,100,100,1) 0%, rgba(78,77,77,1) 46%, rgba(18,18,18,1) 100%);
    background: linear-gradient(135deg, rgba(100,100,100,1) 0%, rgba(78,77,77,1) 46%, rgba(18,18,18,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#646464', endColorstr='#121212', GradientType=1 );

    .cpc-product-img-circle {
        background-color:  black;
    }

}

.cpc-product-grey {
    background: rgba(223,223,223,1);
    background: -moz-linear-gradient(-45deg, rgba(223,223,223,1) 0%, rgba(197,197,197,1) 46%, rgba(130,130,130,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(223,223,223,1)), color-stop(46%, rgba(197,197,197,1)), color-stop(100%, rgba(130,130,130,1)));
    background: -webkit-linear-gradient(-45deg, rgba(223,223,223,1) 0%, rgba(197,197,197,1) 46%, rgba(130,130,130,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(223,223,223,1) 0%, rgba(197,197,197,1) 46%, rgba(130,130,130,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(223,223,223,1) 0%, rgba(197,197,197,1) 46%, rgba(130,130,130,1) 100%);
    background: linear-gradient(135deg, rgba(223,223,223,1) 0%, rgba(197,197,197,1) 46%, rgba(130,130,130,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdfdf', endColorstr='#828282', GradientType=1 );

    .cpc-product-img-circle {
        background-color:  #575757;
    }
}

.cpc-nike-tick {
    display: block;
    width: 50px;
    height: 30px;
    margin: 0 auto;
    svg {
        path {
            fill: #fff;
        }
    }
    @media screen and (max-width: $width-reponsive-breakpoint) {
        padding-top: 25px;
    }
}
.cpc-product-info {
    display: table-cell;
    width: 67%;
    font-size: 15px;
    padding: 50px;
    @media screen and (max-width: $width-reponsive-breakpoint) {
        display: block;
        width: 100%;
        padding: 35px;
    }
}
.cpc-product-header {
    margin-bottom: 40px;
    position: relative;
}
.cpc-product-title {
    display: inline-block;
    text-transform: uppercase;
    margin: 0;
    font-size: 30px;
    letter-spacing: .5px;
}

.cpc-rating-container {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    @media screen and (max-width: 450px) {
        display: block;
        width: 100%;
        position: inherit;
        margin-bottom: 5px;
    }
}

.cpc-product-rating {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-top: 7px;
}

.cpc-product-rating-width {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transition: width .4s ease-in-out;
    -moz-transition: width .4s ease-in-out;
    -o-transition: width .4s ease-in-out;
    -ms-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
}

.cpc-product-star-true {
    display: inline-block;
    @include icon($icon-star-solid,$color-rating-true,16px)
}

.cpc-product-star-false {
    display: inline-block;
    @include icon($icon-star-solid,$color-rating-false,16px)
}

.cpc-product-color {
    margin: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    text-transform: uppercase;
    font-style: italic;
    font-size: 14px;
    color: $color-text-grey;
    font-weight: 500;
}

.cpc-product-rrp {
    margin-right: 10px;
    font-size: 19px;
    text-decoration: line-through;
}

.cpc-product-dp {
    font-size: 20px;
    color: $color-discount-price;
}

.cpc-product-desc,
.cpc-product-color-title,
.cpc-product-size-title,
.cpc-product-qty-title {
    @include section-titles();
}

.cpc-product-color-title {
    margin-bottom: 13px;
}

.cpc-product-qty-title,
.cpc-product-size-title {
    margin-bottom: 11px;
}

.cpc-product-desc-text {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 12px;
    color: $color-text-grey;
    font-weight: 100;
    line-height: 23px;
    font-family: 'Open Sans', sans-serif;
}

.cpc-product-color-item {
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    span {
        display: none;
    }
}
.cpc-atc-button {
    @include icon($icon-shopping-cart,white,22px);
    padding: 16px 20px;
    border-radius: 8px;
    border: none;
    background: rgba(255, 136, 106, 1);
    background: -moz-linear-gradient(top, rgba(255, 136, 106, 1) 0%, rgba(255, 61, 100, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 136, 106, 1)), color-stop(100%, rgba(255, 61, 100, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 136, 106, 1) 0%, rgba(255, 61, 100, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 136, 106, 1) 0%, rgba(255, 61, 100, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 136, 106, 1) 0%, rgba(255, 61, 100, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 136, 106, 1) 0%, rgba(255, 61, 100, 1) 100%);
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 15px;
    -webkit-box-shadow: 5px 5px 30px -6px rgba(255,62,100,1);
    -moz-box-shadow: 5px 5px 30px -6px rgba(255,62,100,1);
    box-shadow: 5px 5px 30px -6px rgba(255,62,100,1);
    -webkit-transition: background .4s ease-in-out;
    -moz-transition: background .4s ease-in-out;
    -o-transition: background .4s ease-in-out;
    -ms-transition: background .4s ease-in-out;
    transition: background .4s ease-in-out;
    &:before {
        -webkit-transition: margin-right .4s ease-in-out;
        -moz-transition: margin-right .4s ease-in-out;
        -o-transition: margin-right .4s ease-in-out;
        -ms-transition: margin-right .4s ease-in-out;
        transition: margin-right .4s ease-in-out;
        margin-right: 10px;
    }

    &:hover {
        &:before {
            margin-right: 20px;
        }
    }

}
.cpc-color-section,
.cpc-size-section {
    display: inline-block;
    vertical-align: top;
    padding-right: 30px;
    border-right: 1px solid #dfdfdf;
    margin-right: 20px;
}

.cpc-color-section,
.cpc-size-section,
.cpc-qty-section {
    @media screen and (max-width: 530px) {
        display: block;
        width: 100%;
        margin-bottom: 25px;
    }
}

.cpc-qty-section {
    @media screen and (max-width: 530px) {
        margin-bottom: 0px;
    }
}

.cpc-product-size-select, .cpc-product-qty-select {
    font-family: $font-family-text, Arial, Helvetica, sans-serif;
    color: #b4b4b4;
    font-size: 17px;
    font-weight: 600;
    border: 0px;
}

input[type="radio"] {
  display: none;
}

label {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  background: #333;
  border-radius: 50%;
  margin-right: 8px;
  z-index: 1;
  cursor: pointer;
}

.cpc-radio-green {
    background: $color-radio-green;
}

input[type="radio"]:checked + .cpc-radio-green {
  &:after {
    border: solid 2px $color-radio-green;
  }
}

.cpc-radio-yellow {
    background: $color-radio-yellow;
}

input[type="radio"]:checked + .cpc-radio-yellow {
  &:after {
    border: solid 2px $color-radio-yellow;
  }
}

.cpc-radio-purple {
    background: $color-radio-purple;
}

input[type="radio"]:checked + .cpc-radio-purple {
  &:after {
    border: solid 2px $color-radio-purple;
  }
}

.cpc-radio-black {
    background: $color-radio-black;
}

input[type="radio"]:checked + .cpc-radio-black {
  &:after {
    border: solid 2px $color-radio-black;
  }
}

.cpc-radio-grey {
    background: $color-radio-grey;
}

input[type="radio"]:checked + .cpc-radio-grey {
  &:after {
    border: solid 2px $color-radio-grey;
  }
}

input[type="radio"]:checked + label {
  &:after {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    height: 28px;
    width: 28px;
    border: solid 2px #333;
    border-radius: 50%;
    z-index: 0;
  }
}

.cpc-qty-section {
    display: inline-block;
    vertical-align: top; 
}

.cpc-atc-share-section {
    margin-top: 50px;
    margin-bottom: 15px;
    position: relative;

    a {
        text-decoration: none;
    }
}

.cpc-sharing {
    @include icon($icon-share-alt,$color-share-grey,22px);
    position: absolute;
    top: 0;
    right: 0;
}

.cpc-sharing-text {
    display: none;
}